In [1]:
%pylab inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint

Populating the interactive namespace from numpy and matplotlib

In [2]:
import os
print(os.getcwd())

/Users/sasali/Documents/Coursera/Capstone Project Detroit

In [3]:
os.chdir('/Users/sasali/Documents/Coursera/Capstone Project Detroit/data/')

In [4]:
# Load extracted feature data
viols_df = pd.read_csv('violations_building_list.csv',index_col=0)
crimes_df = pd.read_csv('crimes_building_list.csv',index_col=0)
calls_df = pd.read_csv('calls_building_list.csv',index_col=0)

In [5]:
print(len(viols_df))
print(len(crimes_df))
print(len(calls_df))

110837
39792
17463

In [6]:
# Row bind 3 building lists
temp = viols_df[['Lat', 'Lon']].append(crimes_df[['Lat', 'Lon']], ignore_index=True).append(calls_df[['Lat', 'Lon']], ignore_index=True)

In [7]:
temp.tail(4)

              Lat        Lon
168088  42.358900 -83.157951
168089  42.395245 -83.159339
168090  42.438070 -83.019492
168091  42.414113 -82.939986

We have 168092 unique incidents. In the temp list, only geocoordinates are included. Next we are going to cluster these incidents based upon the geocolation density. DBSCAN is perfect for this purpose, and we can set the maximum distance for clusters and the minimum number of objects in each cluster.

Considering the common distance among houses and the range that incidents can have impacts on, we set eps=50 meters max distance that points can be from each other to be considered a cluster, and min_samples to 1 so that every data point gets assigned to either a cluster or forms its own cluster of 1. Nothing will be classified as noise.

In [8]:
coords = temp.as_matrix(columns=['Lat', 'Lon'])

In [9]:
seed(7)
ms_per_radian = 6371008.8 # Earch radius in meter
epsilon = 30/ms_per_radian 
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine',n_jobs=4).fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 39529

In [10]:
temp['cluster_id'] = cluster_labels

In [11]:
temp.head(4)

         Lat        Lon  cluster_id
0  42.369786 -83.216326           0
1  42.325449 -83.064139           1
2  42.411997 -83.167339           2
3  42.441234 -83.219551           3

In [12]:
temp.to_csv('../data/building_cluster_list.csv', index=False)

We define a function to get the center coordinates foe each cluster

In [13]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [14]:
lats, lons = zip(*centermost_points)
rep_points = pd.DataFrame({'c_lon':lons, 'c_lat':lats})
rep_points['c_id'] = list(range(num_clusters))

In [15]:
rep_points.to_csv('../data/cluster_list.csv', index=True)

In [16]:
rep_points.head(10)

       c_lat      c_lon  c_id
0  42.369786 -83.216326     0
1  42.325700 -83.064300     1
2  42.411997 -83.167339     2
3  42.441070 -83.219404     3
4  42.341343 -83.087699     4
5  42.323726 -83.081573     5
6  42.330432 -83.088302     6
7  42.341719 -83.114206     7
8  42.337700 -83.112900     8
9  42.337800 -83.114300     9

Take a look at how many records in each cluster

In [17]:
cluster_count = temp.groupby(['cluster_id']).size().reset_index(name='count')

Append rep_points with the cluster_count

In [18]:
clusters_list = pd.concat([cluster_count, rep_points[['c_lat','c_lon']]], axis=1, join='inner')
clusters_list = clusters_list.sort_values(by='count', ascending=False)

In [19]:
print(sum(cluster_count['count']==1))

18023

The sizes of clusters vary greatly, and almost half od them have size 1. This indicates those cluster areas have low incident frequency, which can be a good sign that blight risk is low. Next we will take a look of the cluster distribution on the Detroit map.

In [20]:
#data_high_density_cluster = clusters.loc[clusters['count'] > 50]
data_high_density_cluster = clusters_list.head(1000)
data_low_density_cluster = clusters_list.tail(18023)

Plot high density clusters

In [ ]:
from bokeh.io import output_file, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
)

map_options = GMapOptions(lat=42.3, lng=-83.1, map_type="roadmap", zoom=11)

plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options
)
plot.title.text = "Detroit (high incident density)"

# For GMaps to function, Google requires you obtain and enable an API key:
#
#     https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Replace the value below with your personal API key:
plot.api_key = 'AIzaSyDuroAumF-QXuuuuTXVHBdE3dBZPG0gpUc'

source = ColumnDataSource(
    data=dict(
        lat=data_high_density_cluster['c_lat'],
        lon=data_high_density_cluster['c_lon'],
    )
)

circle = Circle(x="lon", y="lat", size=5, fill_color="blue", fill_alpha=0.7, line_color=None)
plot.add_glyph(source, circle)

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
output_file("gmap_plot.html")
show(plot)

Plot low density clusters

In [ ]:
plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options
)
plot.title.text = "Detroit (low incident density)"

# For GMaps to function, Google requires you obtain and enable an API key:
#
#     https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Replace the value below with your personal API key:
plot.api_key = 'AIzaSyDuroAumF-QXuuuuTXVHBdE3dBZPG0gpUc'

source = ColumnDataSource(
    data=dict(
        lat=data_low_density_cluster['c_lat'],
        lon=data_low_density_cluster['c_lon'],
    )
)

circle = Circle(x="lon", y="lat", size=5, fill_color="blue", fill_alpha=0.7, line_color=None)
plot.add_glyph(source, circle)

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
output_file("gmap_plot.html")
show(plot)

# Now we re-summarize viols, crimes and calls

In [21]:
new_viols = viols_df
new_viols = new_viols.drop(['Lat','Lon'],axis=1)
new_viols['c_id'] = cluster_labels[range(len(new_viols))]

In [22]:
new_viols.head(2)

,ViolationAddress,N_Violations,MaxTotalFee,ViolationCode_22-2-17,ViolationCode_22-2-22,ViolationCode_22-2-43,ViolationCode_22-2-45,ViolationCode_22-2-61,ViolationCode_22-2-83,ViolationCode_22-2-88,...,ViolationCode_9-1-111,ViolationCode_9-1-113,ViolationCode_9-1-36,ViolationCode_9-1-43,ViolationCode_9-1-45,ViolationCode_9-1-50,ViolationCode_9-1-81,ViolationCode_9-1-82,ViolationCode_OtherViolationCode,c_id
1,0 10TH,70,3360.0,40,0,0,0,1,0,7,...,0,0,4,0,0,0,0,0,11,0
2,0 10TH ST,1,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [23]:
new_crimes = crimes_df
new_crimes = new_crimes.drop(['Lat','Lon'],axis=1)
new_crimes['c_id'] = cluster_labels[array(range(len(new_crimes))) + len(new_viols)]

In [24]:
new_calls = calls_df
new_calls = new_calls.drop(['Lat','Lon'],axis=1)
new_calls['c_id'] = cluster_labels[array(range(len(new_calls))) + len(new_viols) + len(new_crimes)]

Aggregate viols by clusters; Use 'mean' for MaxTotalFee and 'sum' for other columns

In [25]:
avg_MaxTotalFee = new_viols.groupby(['c_id'])['MaxTotalFee'].mean()

In [26]:
new_viols = new_viols.groupby(['c_id']).sum()
new_viols['MaxTotalFee'] = avg_MaxTotalFee

Aggregate crimes & calls by clusters; Use 'sum' for all columns

In [27]:
new_crimes = new_crimes.groupby(['c_id']).sum()

In [28]:
new_calls = new_calls.groupby(['c_id']).sum()

Join these 3 tables (full)

In [29]:
new_list = pd.concat([new_viols, new_crimes, new_calls], axis=1)
new_list[['Lat','Lon']] = rep_points[['c_lat','c_lon']]

In [30]:
new_list = new_list.fillna(0)

In [31]:
new_list.columns

Index(['N_Violations', 'MaxTotalFee', 'ViolationCode_22-2-17',
       'ViolationCode_22-2-22', 'ViolationCode_22-2-43',
       'ViolationCode_22-2-45', 'ViolationCode_22-2-61',
       'ViolationCode_22-2-83', 'ViolationCode_22-2-88', 'ViolationCode_61-81',
       'ViolationCode_9-1-103', 'ViolationCode_9-1-104',
       'ViolationCode_9-1-105', 'ViolationCode_9-1-110',
       'ViolationCode_9-1-111', 'ViolationCode_9-1-113',
       'ViolationCode_9-1-36', 'ViolationCode_9-1-43', 'ViolationCode_9-1-45',
       'ViolationCode_9-1-50', 'ViolationCode_9-1-81', 'ViolationCode_9-1-82',
       'ViolationCode_OtherViolationCode', 'N_crimes',
       'CATEGORY_AGGRAVATED ASSAULT', 'CATEGORY_ARSON', 'CATEGORY_ASSAULT',
       'CATEGORY_BRIBERY', 'CATEGORY_BURGLARY', 'CATEGORY_DAMAGE TO PROPERTY',
       'CATEGORY_DANGEROUS DRUGS', 'CATEGORY_ESCAPE', 'CATEGORY_FRAUD',
       'CATEGORY_LARCENY', 'CATEGORY_OBSTRUCTING JUDICIARY',
       'CATEGORY_OtherCrimes',
       'CATEGORY_OUIL DISPOSE OF VEHICLE TO AVOID FORFEITURE',
       'CATEGORY_ROBBERY', 'CATEGORY_RUNAWAY', 'CATEGORY_SOLICITATION',
       'CATEGORY_STOLEN VEHICLE',
       'CATEGORY_TRAFFIC VIOLATIONS-DRIVING ON SUSPENDED',
       'CATEGORY_TRAFFIC VIOLATIONS-MOTORCYCLE VIOLATIONS',
       'CATEGORY_WEAPONS OFFENSES', 'N_calls', 'Max_Rating',
       'issue_type_Abandoned Vehicle', 'issue_type_Clogged Drain',
       'issue_type_Curbside Solid Waste Issue',
       'issue_type_DPW - Debris Removal', 'issue_type_Fire Hydrant Issue',
       'issue_type_Illegal Dumping / Illegal Dump Sites',
       'issue_type_Manhole Cover Issue', 'issue_type_OtherIssue',
       'issue_type_Potholes', 'issue_type_Running Water in a Home or Building',
       'issue_type_Street Light Pole Down', 'issue_type_Traffic Sign Issue',
       'issue_type_Traffic Signal Issue',
       'issue_type_Trash Issue - Bulk waste deposited more than 24 hours before designated time',
       'issue_type_Tree Issue', 'issue_type_Water Main Break', 'Lat', 'Lon'],
      dtype='object')

# Label  blight properties

In the permits list, we have transformed property parcel size into circle radius (in degrees). We will examine each cluster in new_list to see if it falls into any blight building range, if yes, then we label it as 'Y' for variable 'Blight', otherwise 'N'.

In [35]:
permit_df = pd.read_csv('permit_building_list.csv', index_col = 0)

In [36]:
permit_df.head(2)

,SITE_ADDRESS,N_Permits,PARCEL_RADIUS,LAT,LON,PARCEL_DEGREE
1,10 W PARKHURST,1,39.408552,42.421046,-83.102201,0.000104
2,100 W. ALEXANDRINE,1,48.977375,42.350312,-83.060799,0.000129

In [37]:
new = new_list.loc[:,['Lat', 'Lon']].copy()
new.loc[:,'Blight'] = np.nan

In [38]:
count = 0
for idx, row in new.iterrows():
    if np.isnan(row['Blight']):
        # compare the cluster center with the blight parcel degree range
        x = np.sqrt( np.square(row['Lat']-permit_df['LAT'])+ np.square(row['Lon']-permit_df['LON']) )-permit_df['PARCEL_DEGREE']
        for ix in x:
            if ix < 0.0001:
                # if the difference is within the precision 0.0001, then we label this cluster as Blight
                new.loc[idx,'Blight'] = 'Y'
                count = count+1
                break
print('Number of blight clusters: ' + str(count) )

Number of blight clusters: 1920

In [39]:
new.loc[new['Blight']!='Y', 'Blight'] = 'N'
new_list['Blight'] = new['Blight']
new_list.head(10)

,N_Violations,MaxTotalFee,ViolationCode_22-2-17,ViolationCode_22-2-22,ViolationCode_22-2-43,ViolationCode_22-2-45,ViolationCode_22-2-61,ViolationCode_22-2-83,ViolationCode_22-2-88,ViolationCode_61-81,...,issue_type_Running Water in a Home or Building,issue_type_Street Light Pole Down,issue_type_Traffic Sign Issue,issue_type_Traffic Signal Issue,issue_type_Trash Issue - Bulk waste deposited more than 24 hours before designated time,issue_type_Tree Issue,issue_type_Water Main Break,Lat,Lon,Blight
c_id,,,,,,,,,,,,,,,,,,,,,
0,146.0,1162.391304,59.0,1.0,1.0,1.0,1.0,0.0,13.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.369786,-83.216326,Y
1,20.0,758.571429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.325700,-83.064300,N
2,33.0,4133.928571,0.0,1.0,0.0,1.0,0.0,3.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.411997,-83.167339,Y
3,14.0,1684.285714,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.441070,-83.219404,N
4,20.0,1178.333333,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.341343,-83.087699,Y
5,8.0,1600.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.323726,-83.081573,Y
6,10.0,866.666667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.330432,-83.088302,Y
7,17.0,703.000000,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,42.341719,-83.114206,N
8,4.0,1196.666667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,42.337700,-83.112900,Y
9,19.0,1232.222222,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,42.337800,-83.114300,N

In [40]:
new_list.to_csv('Data_for_modeling.csv', encoding='utf-8',index=False)